.homeContainer {
    background-color: black;
    width: 100%;
    height: 100%;
}

.banner {
    height: 200px;
    background-image: url(../images/GOTbanner2.jpg);
    background-size: 129%;
    background-position: 0 90%;
}
