.menuContainer {
    display: flex;
    justify-content: space-between;
    padding: 0% 4%;
    background-color: rgba(41, 79, 156, 0.921);
    align-items: center;
}

.logo {
    width: 50px;
    height: 35px;
    padding: 10px 2%;
}

.title {
    color: #fffefee2;
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.1em;
}
