.menuContainer {
    display: flex;
    justify-content: space-between;
    padding: 2% 3%;
    background-color: rgb(15, 15, 15, 0.99);
    align-items: center;
}

.logo {
    width: 90px;
    height: 60px;
}

.title {
    color: #969696;
    font-family: 'Gill Sans', sans-serif;
    font-size: 1.2em;  
}